.section-1 {
    display: flex;
    flex-direction: row; /* Les empiler verticalement */
    gap: 250px; /* Ajouter de l’espace entre eux */
}

body {
	background-color:gray;
	display:flex;
	flex-direction:column;
	gap:20px;
	 margin-right: 10px; /* Marge à droite */
    margin-left: 10px;  /* Marge à gauche */
}

.first-page {
	display: flex;
	flex-direction: row;
	gap:20px;
}
button{
	background-color: pink;
}

.section-2 {
	display:flex;
	flex-direction:column;
	gap:20px;
	margin-right:250px;
}

img {
	width:600px;
	height:300px;
}
.cards{
	display:flex;
	flex-direction:row;
	gap:50px;
}

.section-5{
	display:flex;
	flex-direction:row;
	gap:5px;
}

.section-5 img{
	width: 200px;  /* Largeur de l'image */
    height: 100px;

}

.element-1, .element-1, .element-1{
display:flex;
	flex-direction:column;
	gap:10px;
}
